@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    padding: 0;
    margin: 0;
    background-color: beige;
}

p {
    margin-bottom: 1rem;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
